<!DOCTYPE html>

<html>
<head>
  <title>Markov Chain Tweeter</title>
</head>
<body>
  <h1>Welcome to the Markov Chain Tweeter!</h1>
  <p>Enter in a Twitter Handle and click the "Generate Tweet" button to generate a random tweet based on that Twitter user.</p>
  <form>
    <input type="text" id="twitter-handle">
    <input type="submit" id="generate-tweet" value="Generate Tweet!">
  </form>
  <div id="generated-tweets"></div>
  <script
    src="https://code.jquery.com/jquery-2.2.4.js"
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous">
  </script>
  <script src="static/markov.js"></script>
</body>
</html>